@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --primary: #00932A;
  --secondary: #FEB90D;
  --accent: #D14341;
  --description: #E8E8E8;
  --text: #030712;
  --input: #D9D9D9;
  --foreground: #171717;
  --google-sans: "Google Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-description: var(--description);
  --color-text: var(--text);
  --color-input: var(--input);
  --font-googlesans: var(--google-sans);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Google Sans", sans-serif;
}
